$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$quaternary-color: #fa9500;
$primary-text-color: #7c6a0a;
$secondary-text-color: #e86424;
$font-stack: "IBM Plex Sans", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color;
}

button {
  cursor: pointer;
}
section {
  padding: 0 2.4rem;
}

.container {
  width: 100%;
}

///////////////////////////////////
// HEADER
///////////////////////////////////
.header {
  width: 100%;
  height: 9.6rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;

  .navbar-left .logo {
    display: inline-block;
    font-size: 2rem;
    color: $primary-text-color;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .navbar-right {
    button {
      display: grid;
      border: none;
      background: none;
      color: $primary-text-color;
      svg {
        width: 2.4rem;
        height: 2.4rem;
      }

      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.05);
      }
    }
    > :not(.menu) {
      display: none;
    }
  }
}

///////////////////////////////////
// HERO SECTION
///////////////////////////////////
.hero-section {
  margin-bottom: 6.4rem;
  .hero-img {
    margin-bottom: 1.2rem;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center 35%;
      min-height: 16rem;
      height: 50vh;
      max-height: 36rem;
      border-radius: 8px;
    }
  }
  .hero-content {
    color: $primary-text-color;
    h1 {
      font-size: 2.8rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1.8rem;
    }
    button {
      display: block;
      margin: 0 auto;
      border: none;
      background: $quaternary-color;
      padding: 1.2rem 2.8rem;
      border-radius: 9999px;

      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
}

///////////////////////////////////
// HEALTH-CARE SECTION
///////////////////////////////////
.health-care-section {
  padding: 0;
  margin-bottom: 6.4rem;
  h2 {
    padding: 0 2.4rem;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    color: $primary-text-color;
  }
  .product-list {
    display: flex;
    padding: 0 2.4rem;
    gap: 2.8rem;
    overflow-x: auto;
  }
  .product-card {
    flex: none;
    width: 18rem;
    padding: 3.2rem 2rem 1.6rem;
    height: auto;
    border-radius: 4px;
    color: $primary-text-color;
    background-color: $secondary-color;

    .product-img {
      img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        border-radius: 4px;
      }
      margin-bottom: 0.8rem;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

///////////////////////////////////
// FURNITURE SECTION
///////////////////////////////////
.furniture-section {
  @extend .health-care-section;
  .product-card {
    color: #fff;
    background-color: $tertiary-color;
  }
}

///////////////////////////////////
// ABOUT US SECTION
///////////////////////////////////
.about-us {
  margin-bottom: 4rem;
  h2 {
    color: $primary-text-color;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 8rem;
  }

  .team-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.4rem;
  }

  .earth {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
  }

  p {
    text-align: center;
    color: $secondary-text-color;
    font-size: 1.4rem;
    font-weight: 500;
  }

  img {
    width: 35vw;
  }
}

///////////////////////////////////
// GALLERY SECTION
///////////////////////////////////
.gallery {
  margin-bottom: 6.4rem;
  h2 {
    color: $primary-text-color;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  .gallery-images {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    div {
      width: calc(100vw - 4.8rem);
      height: calc(100vw - 4.8rem);
      border-radius: 8px;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

///////////////////////////////////
// LOCATION SECTION
///////////////////////////////////
.location {
  margin-bottom: 6.4rem;
  h2 {
    color: $primary-text-color;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 3.6rem;
  }
  .map {
    margin-bottom: 4.4rem;
    width: 100%;
    height: 52rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 40% center;
    }
  }
  h3 {
    color: $secondary-text-color;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
  }
  p {
    color: $secondary-text-color;
    font-size: 1.6rem;
  }
}

///////////////////////////////////
// FOOTER
///////////////////////////////////
.footer {
  padding: 2.4rem;
  background-color: $quaternary-color;
  color: #fff;

  h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 1.6rem;
    margin-bottom: 3.2rem;

    font-size: 1.4rem;
  }

  .social-media {
    display: flex;
    column-gap: 3.2rem;

    img {
      width: 2.8rem;
      height: 2.8rem;
      cursor: pointer;

      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
